<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
		
    </div><!-- /.container -->
    
		<footer>
    		<ul>
        		<li>Email: <a href="mailto:vmelnikov.miis@gmail.com">vmelnikov.miis@gmail.com</a></li>
        		<li>LinkedIn: <a href="https://www.linkedin.com/in/vladmelnikov/">github.com/vlad-v-melnikov</a></li>
			<li>Repo: <a href="https://github.com/vlad-v-melnikov">github.com/vlad-v-melnikov</a></li>
			</ul>
		</footer>
	</body>
</html>
